/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background: transparent;
    backdrop-filter: blur(10px);
}

.nav,
.nav .nav-links {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav .nav-links {
    column-gap: 20px;
    list-style: none;
}

.nav .nav-links a {
    transition: all 0.2s linear;
}

.nav .navOpenBtn,
.nav .navCloseBtn {
    display: none;
}

.nav-links a:hover {
    color: #00bcd4;
}

/* responsive */
@media screen and (max-width: 1160px) {
    .nav {
        padding: 15px 100px;
    }
}

@media screen and (max-width: 950px) {
    .nav {
        padding: 15px 50px;
    }
}

@media screen and (max-width: 768px) {

    .nav .navOpenBtn,
    .nav .navCloseBtn {
        display: block;
    }

    .nav {
        padding: 15px 20px;
    }

    .nav .nav-links {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100vh;
        width: 100%;
        padding-top: 100px;
        row-gap: 30px;
        flex-direction: column;
        background-color: #11101d;
        color: white;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        transition: all 0.4s ease;
        z-index: 100;
    }

    .nav.openNav .nav-links {
        left: 0;
    }

    .nav .navOpenBtn {
        color: black;
        font-size: 20px;
        cursor: pointer;
    }

    .nav .navCloseBtn {
        position: absolute;
        top: 20px;
        right: 20px;
        color: #fff;
        font-size: 20px;
        cursor: pointer;
    }

    button {
        align-content: space-around;
        color: white;
    }
}

/* Section styles */
.section {
    padding: 100px 0;
}

.section h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.section p {
    font-size: 1.2em;
}

/* Footer styles */
footer {
    background-color: black;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.social-media a {
    display: inline-block;
    margin: 0 10px;
    color: #fff;
    font-size: 24px;
    transition: color 0.3s;
}

.social-media a:hover {
    color: #00bcd4;
}

/* Dark mode styles */
.dark-mode {
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    color: #fff;
}

/* Dark mode styles for specific elements */
.dark-mode header {
    border-bottom: 1px solid #444;
    color: white;
}

.dark-mode .navOpenBtn {
    color: white;
}

.dark-mode i {
    color: white;
}

/* Dark mode styles for links */
.dark-mode a {
    color: white;
}

.dark-mode p {
    color: white;
}

a {
    color: inherit;
    text-decoration: inherit;
}

/* custom scrollbar */
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

/*Loading*/
.loading-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.loading {
    width: 40px;
    height: 40px;
    position: relative;
    transform: rotate(45deg);
}

.loading-inner {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    border: 4px solid #fff;
    border-radius: 50%;
    animation: loading 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}

@keyframes loading {
    0% {
        width: 40px;
        height: 40px;
        top: 0;
        left: 0;
    }

    25% {
        width: 40px;
        height: 40px;
        top: 0;
        left: 100%;
    }

    50% {
        width: 40px;
        height: 40px;
        top: 100%;
        left: 100%;
    }

    75% {
        width: 40px;
        height: 40px;
        top: 100%;
        left: 0;
    }

    100% {
        width: 40px;
        height: 40px;
        top: 0;
        left: 0;
    }
}

.home {
    display: none;
}