/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header styles */
.header {
    color: black;
    padding: 5px 0;
    backdrop-filter: blur(10px);    /* Adds blur effect */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text {
    font-size: 1.5em;
}

.nav__menu a {
    color: black;
    text-decoration: none;
    margin-left: 20px;
    transition: color 0.3s ease;
}

.nav__menu a:hover {
    color: #00bcd4;
}

/* Section styles */
.section {
    padding: 100px 0;
}

.section h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.section p {
    font-size: 1.2em;
}



/* Footer styles */
footer {
    background-color: black;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.social-media a {
    display: inline-block;
    margin: 0 10px;
    color: #fff;
    font-size: 24px;
    transition: color 0.3s;
}

.social-media a:hover {
    color: #00bcd4;
}

/* Dark mode styles */
.dark-mode {
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    color: #fff;
}

/* Dark mode styles for specific elements */
.dark-mode header {
    border-bottom: 1px solid #444;
    color: white;
}

.dark-mode i {
    color: white;
}

/* Dark mode styles for links */
.dark-mode a {
    color: white;
}

.dark-mode p {
    color: white;
}

a {
    color: inherit;
    text-decoration: inherit;
}

/* custom scrollbar */
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

/*Loading*/
.loading-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.loading {
    width: 40px;
    height: 40px;
    position: relative;
    transform: rotate(45deg);
}

.loading-inner {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    border: 4px solid #fff;
    border-radius: 50%;
    animation: loading 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}

@keyframes loading {
    0% {
        width: 40px;
        height: 40px;
        top: 0;
        left: 0;
    }

    25% {
        width: 40px;
        height: 40px;
        top: 0;
        left: 100%;
    }

    50% {
        width: 40px;
        height: 40px;
        top: 100%;
        left: 100%;
    }

    75% {
        width: 40px;
        height: 40px;
        top: 100%;
        left: 0;
    }

    100% {
        width: 40px;
        height: 40px;
        top: 0;
        left: 0;
    }
}

.home {
    display: none;
}
